body {
    background-color: blanchedalmond;
}


#entries {
    height: 800px;
}

.table {
    margin-top: 50px;
}

#add {
    margin-bottom: 25px;
}

#header {
    padding-bottom: 25px;
    padding-top: 25px;
    border: 2px lightcyan solid;
}

#home {
    margin-top: 25px;
}

.entry {
    text-align: left;
}